.converter {
  width: 75%;
  text-align: center;
  margin: 30px auto;
  padding: 20px;
  background: #f0eedc;
  border: 1px solid #e0e0e0;
  border-radius: 7px;
}

.lists {
  width: 75%;
  text-align: center;
  margin: 30px auto;
  padding: 20px;

}

.list {
  width: 50%;
  margin: 30px auto;
  padding: 20px;
  display: inline-block;
}


/* // X-Small devices (portrait phones, less than 576px) */
@media (max-width: 575.98px) {
  .list {
    width: 90%;
  }
}

/* // Small devices (landscape phones, less than 768px) */
@media (max-width: 767.98px) {
  .converter {
    width: 100% !important;
  }

  .lists {
    width: 100% !important;
  }
}

/* // Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {}

/* // Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {}

/* // X-Large devices (large desktops, less than 1400px) */
@media (max-width: 1399.98px) {}